<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912898352075-bdmc5d8993s9svfv3t95fibobhgbegt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912898352075-bdmc5d8993s9svfv3t95fibobhgbegt8</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ7SUK6dC5MCebRw2qbT08npmX-5BQD3M</string>
	<key>GCM_SENDER_ID</key>
	<string>912898352075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hlsNetwork</string>
	<key>PROJECT_ID</key>
	<string>hlsnetworkbackend</string>
	<key>STORAGE_BUCKET</key>
	<string>hlsnetworkbackend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912898352075:ios:eed987a89bf92b67b44c4e</string>
</dict>
</plist>